/* обнулятор  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "LarsseitMedium";
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* fonts */

@font-face {
    font-family: "LarsseitThin";
    src: url("/fonts/LarsseitThin.eot");
    src: url("/fonts/LarsseitThin.eot?#iefix")format("embedded-opentype"),
        url("/fonts/LarsseitThin.woff") format("woff"),
        url("/fonts/LarsseitThin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "LarsseitBold";
    src: url("/fonts/LarsseitBold.eot");
    src: url("/fonts/LarsseitBold.eot?#iefix")format("embedded-opentype"),
        url("/fonts/LarsseitBold.woff") format("woff"),
        url("/fonts/LarsseitBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "LarsseitMedium";
    src: url("/fonts/LarsseitMedium.eot");
    src: url("/fonts/LarsseitMedium.eot?#iefix")format("embedded-opentype"),
        url("/fonts/LarsseitMedium.woff") format("woff"),
        url("/fonts/LarsseitMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/* fonts end*/

/* header start */

.header {
    display: flex;
    justify-content: space-between;
}

.header__background-left {
    width: 77.5%;
    flex-shrink: 0;
    background-color: #F4F9E2;
    height: 840px;
    /* z-index: -4; */
}

.header__background-left a {
    text-decoration: none;
}

.menu {
    list-style-type: none;
    display: flex;
    padding-top: 38px;
    z-index: 10;
}

.menu a {
    color: #22356F;
    padding-right: 30px;
}

.menu__items a {
    transition: 1s;
}

.menu :hover {
    color: #dd5a2bd3;
    text-decoration: underline;
    transition: 1s;
}

.nameWebsite {
    font-size: 24px;
    color: #62D0DF;
}

.nameWebsite a {
    color: #62D0DF;
    transition: 1s;
}

.logo {
    padding: 27px 322px 0px 179px;
}

.logo :hover {
    color: #dd5a2bd3;
    transform: scale(5);
    transition: 1s;
}

.navbar {
    display: flex;
}

.heading {
    padding: 187px 0px 0px 179px;
}

.header__heading {
    font-family: "LarsseitBold";
    font-size: 48px;
    color: #22356F;
    padding: 40px 0px 0px 179px;
    line-height: 53px;
}

.header__text {
    font-size: 24px;
    color: #22356F;
    line-height: 42px;
    padding: 80px 0px 0px 179px;

}

.header__bottom {
    display: flex;
    padding: 63px 0px 0px 179px;
}

.header__background-right {
    position: relative;
}

.bottom-text {
    font-family: "LarsseitBold";
    font-size: 16px;
    letter-spacing: 2px;
}

.bottom-left {
    width: 150px;
    height: 32px;
    background-color: #F9B640;
    ;
    color: #FFFFFF;
    text-align: center;
    padding-top: 18px;
    margin-right: 38px;
}

.bottom-right {
    width: 150px;
    height: 32px;
    color: #FAB63E;
    text-align: center;
    padding-top: 18px;
    margin-right: 38px;
}

.screensaver {
    position: absolute;
    top: 0px;
    right: -5px;
    z-index: 2;
}

.blue_oval {
    position: absolute;
    top: 0px;
    right: -5px;
    z-index: 1;
}

.button {
    position: relative;
    z-index: 5;
    margin: 27px 131px 0px 0px;
    font-size: 14px;
    width: 150px;
    height: 32px;
    border-radius: 50px;
    background-color: #62D0DF;
    ;
    text-align: center;
    padding-top: 18px;
}

.button a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 1s;
}

.button :hover {
    color: #F9B640;
    transition: 1s;
}


/* header end */

/* info_card start */

.info_card {
    display: flex;
    justify-content: space-between;
}

.info_card__filing {
    background-color: #62D0DF;
    flex-grow: 1;
    font-family: "LarsseitMedium";
    color: #FFFFFF;
}

.info_card__filing h2 {
    font-size: 36px;
    margin: 13% 0px 0px 18%;
}

.info_card__text {
    font-family: "LarsseitThin";
    font-size: 20px;
    line-height: 30px;
    margin: 8% 0px 0px 18%;
}

.info_card__text span {
    font-family: "LarsseitMedium";
    font-size: 24px;
}



/* info_card end */

/* text_card start */

.text_card {
    display: flex;
    color: #22356F;
    height: 482px;
    flex-wrap: wrap;
}

.text_card h3 {
    font-size: 16px;
    flex: 0 1 9%;
    margin: 9% 0px 0px 106px;
}

.text_card p {
    font-size: 24px;
    flex: 0 1 40%;
    margin: 9% 0px 0px 15%;
}

.text_card h5 {
    font-size: 16px;
    flex: 0 1 100%;
    align-items: center;
    color: #22356f80;
    margin: 3% 43% 1%;
}

/* text_card end */

/* box_cards start  */

.cards {
    font-family: "LarsseitMedium";
    font-size: 32px;
    line-height: 34px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.card {
    flex-grow: 1;
    width: 25%;
    height: 360px;
}

.card li {
    color: #E9B730;
    margin: 30px 0px 0px 100px;
    text-indent: -40px;
}

.card li span {
    color: #FFFFFF;
}

.card-item_1 {
    background-color: #FFE2DE;
}

.card-item_2 {
    background-color: #C4E769;
}

.card-item_3 {
    background-color: #62D0DF;
}

.card-item_4 {
    background-color: #0052C1;
}

.card-line {
    border-top: 1px solid #FFFFFF;
    margin-top: 72px;
    width: 255px;
}


.boxes {
    font-family: "LarsseitMedium";
    font-size: 32px;
    line-height: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box {
    height: 480px;
}

.box li {
    color: #E9B730;
    margin: 30px 0px 0px 120px;
    text-indent: -40px;
}

.box li span {
    color: #FFFFFF;
}

.box-line {
    border-top: 1px solid #FFFFFF;
    margin-top: 96px;
    width: 340px;
}

.box-item_1 {
    background-color: #22356F;
}

.box-item_2 {
    background-color: #0052C1;
}

.box-item_3 {
    background-image: url(/images/joanna-kosinska-340748.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box-item_4 {
    background-color: #62D0DF;
}

.box-item_5 {
    background-color: #DEE1FF;
}

.box-item_6 {
    background-color: #8F00FF;
}

/* box_cards end  */

/* text_box start  */

.text-boxes {
    font-family: "LarsseitThin";
    font-size: 16px;
    line-height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.text_box {
    padding: 15% 15% 10% 21%;
}

.text_box span {
    font-family: "LarsseitMedium";
    font-size: 28px;
}

.text_box p {
    margin-top: 28px;
}

/* text_box end  */

/* statistics_card start  */

.statistics_card {
    display: flex;
}

.card-text {
    padding: 103px 0px 42px 106px;
}

.card-text h5 {
    font-family: "LarsseitThin";
    font-size: 16px;
    color: #22356F;
    margin-bottom: 225px;
}

.text-center {
    font-family: "LarsseitMedium";
    font-size: 36px;
    line-height: 53px;
    color: #22356F;
}

.text-center span {
    color: #62D0DF;
}

.text-bottom {
    font-family: "LarsseitMedium";
    font-size: 16px;
    color: #FAB63E;
    margin-top: 152px;
}

/* statistics_card end */

/* help_card start  */

.help_card {
    display: flex;
    justify-content: space-between;
}

.help_card-text {
    padding: 103px 0px 0px 180px;
    background: #22356F;
    flex-grow: 1;
}

.help_card-text h5 {
    font-family: "LarsseitThin";
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 230px;
}

.help_card-text h3 {
    font-family: "LarsseitBold";
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 75px;
}

.text_help-center {
    font-family: "LarsseitMedium";
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 90px;
    line-height: 53px;
}

.text_help-bottom {
    color: #62D0DF;
}

/* help_card end */

/* footer start  */

.footer {
    display: flex;
    justify-content: space-between;
}

.footer_card {
    padding: 98px 90px 0px 0px;
}

.footer h3 {
    font-family: "LarsseitMedium";
    font-size: 14px;
    color: #22356F;
    margin-bottom: 40px;
}

.footer p {
    font-family: "LarsseitThin";
    font-size: 14px;
    color: #22356f77;
    line-height: 23px;
}

.footer_link span {
    display: block;
    margin-top: 40px;
}

.footer_link a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #123499af;
}

.footer__end {
    box-sizing: border-box;
    font-family: "LarsseitMedium";
    font-size: 14px;
    height: 80px;
    width: 100%;
    background-color: #62D0DF;
    color: #FFFFFF;
    padding: 42px 0px 0px 179px;
}


/* footer end  */